# 1. 系统文件
.DS_Store
*.swp
*.swo

# 2. Python 虚拟环境
.venv/
*.pyc
__pycache__/

# 3. Node.js 依赖
node_modules/

# 4. 依赖仓库（如 composer、go modules）
vendor/

# 5. 构建产物
build/
dist/
tmp/
out/

# 6. 开发工具/IDE 路径
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# 7. 日志与临时文件
*.log
*.tmp

# 8. 环境变量文件
.env
